body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .navigacija {
    overflow: hidden;
    background-color: rgb(233, 205, 45);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
  }
  
  .navigacija a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .navigacija a:hover {
    background-color: rgb(221 164 97);
    color: black;
  }
  .aktivna-strana {
    background-color: rgb(173 11 0);
  }
  
  /* sredjivanje navigacionog bara  */

@media only screen and (max-width: 280px) {
  .navigacija a{font-size:8px;}
}



@media only screen and (min-width: 281px) {
 .navigacija a{font-size:11px;}
}


@media only screen and (min-width: 375px) {
.navigacija a{font-size:14px;}
}


@media only screen and (min-width: 768px) {
.navigacija a{font-size:20px;}
} 


@media only screen and (min-width: 1024px) {
.navigacija a{font-size:25px;}
} 


@media only screen and (min-width: 1080px) {
.navigacija a{font-size:20px;}
}
 

  