::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555555;
}
 
  body{
    background-color: black;
    background-position: center;
    background-size: 100%;
}

h1{ text-align: center;
    font-family: Lucida Handwriting, cursive;
    font-size: 30px;
    color: rgb(221 164 97);
    border-style: solid;
    border-width: 2px;
    border-color:rgb(0, 0, 0) ;
}

h2{
    text-align: center;
    font-family: Lucida Handwriting, cursive;
    color: rgb(221 164 97);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 20px;
}

@media only screen and (min-width: 375px) {
  .h1,h2{
      border-right-width: 20px;
      border-left-width: 20px;
      border-top-width: 0px;
      border-bottom-width: 0px;
      }
  }


  @media only screen and (min-width: 768px) {
       .h1,.h2{
        border-right-width: 50px;
        border-left-width: 50px;
        border-top-width: 0px;
        border-bottom-width: 0px;
     }
    }



h3,p{
    text-align: center;
    font-family: Lucida Handwriting, cursive;
    color: rgb(221 164 97);
}

.myBtn {
    text-align: center;
    background-color: rgb(0, 0, 0); 
    color: black; 
    border: 3px solid rgb(221 164 97);
    font-family:Lucida Handwriting, cursive ;
    color: rgb(221 164 97);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
.myBtn:hover {
    background-color: #ffffff;
    color: rgb(221 164 97); 
  }
  
.centar {
    display: flex;
    justify-content: center;
  }



.row{
  display: flex;
}

.column {
    flex:1;
    width: 15%;
    padding: 10px;
  }
  
  .column img {
    opacity: 0.8; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .accordion{
      display: flex;
      flex: 1;
  }

.slideshow-container {
  flex: 1;
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* da next bude desno */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


