body{
  background-color: black;
}
.div-slika {
    height: 600px;
    background-image: url("../images/restoran2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parent{
  display: flex;
}
.paragrafONama{
  flex:1;
  color: rgb(221 164 97);
  font-family: Lucida Handwriting, cursive;
  margin: 20px 20px 40px 40px;
}

.slideshow-container {
  flex: 1;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* next da bude desno*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#dialog{
  background-color: black;
  color: rgb(221 164 97);
  border-radius: 10px;
}



